blis==0.7.5
brotlipy==0.7.0
catalogue==2.0.6
certifi==2022.12.7
click==8.0.3
cymem==2.0.6
filelock==3.4.2
huggingface-hub==0.4.0
inflect==5.3.0
ipython-genutils==0.2.0
joblib==1.1.0
langcodes==3.3.0
mkl-fft==1.3.1
mkl-service==2.4.0
murmurhash==1.0.6
nltk==3.6.7
numpy==1.22.1
pandas==1.4.0
pathy==0.6.1
preshed==3.0.6
pydantic==1.8.2
pyenchant==3.2.1
PyYAML==6.0
pyzmq==19.0.2
regex==2022.1.18
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.7.3
sklearn==0.0
smart-open==5.2.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
thinc==8.0.13
threadpoolctl==3.0.0
tokenizers==0.10.3
torch==1.7.1
torch-scatter==2.0.8
torch-geometric==2.0.3
torch-sparse==0.6.12
torch-struct==0.5
tqdm==4.62.3
transformers==4.15.0
typer==0.4.0
typing_extensions==4.0.1
wasabi==0.9.0
webencodings==0.5.1